.about_page_container {
    height: 100vh;
    width: 100%;
    background-color: #F67280;
    box-shadow: 0px 0px 1px 0px rgba(0,0,0,0.75);
}
.about_page_content {
    display: flex;
    flex-direction: row;
    height: 100%;
    width: 100%;
    justify-content: space-evenly;

}
.about_btn_container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 32rem;
    justify-content: space-between;
}
.about_page_content_right {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 40%;
    height: 80%;
    border: 1px solid black;
    color: white;
}
#about_title {
    font-size:2rem;
    color: white;
    font-family: 'Raleway', sans-serif;;
}
#young_age_btn {
    background-color: #C06C8C;
    color: white;
    border: none;
    text-align: center;
    cursor: pointer;
    padding: 1rem;
   border: 1px solid #C06C8C;
   font-size: 20px;
}
#middle_age_btn {
    background-color: #6C5B7B;
    color: white;
    border: none;
    text-align: center;
    cursor: pointer;
    padding: 1rem;
    border: 1px solid #6C5B7B;
    font-size: 20px;
}
#late_age_btn {
    background-color: #355C7D;
    color: white;
    border: none;
    text-align: center;
    cursor: pointer;
    padding: 1rem;
    border: 1px solid #355C7D;
    font-size: 20px;
}
#age {
    height: fit-content;
    width: 30rem;
    color: white;
    margin: 0%;
    padding: 1rem;
    line-height: 30px;
    font-size: 20px;
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
    font-family:'Roboto', sans-serif;
}
#age p {
    text-align: center;
}
.about_progress_bar {
    width: 80%;
    height: 1rem;
    max-width: 20rem;
    background-color: white;
    border-radius: 0px;
    border: none;
}

#about_progress_btn {
    width: fit-content;
    border: 1px solid white;
    background-color: transparent;
    text-align: center;
    cursor: pointer;
    font-size: 1.2rem;
    margin-top: 1.5rem;
    padding: 0.5rem;
    color: white;
    border-radius: 3px;
}

.progressbarWrapper {
    height: 1.3rem;
    width: 80%;
    max-width: 500px;
    margin: auto;
    position: relative;
    background: transparent;
    border-radius: 5px;
    
  }
  
  #js-progress-bar {
    display: block;
    height: 100%;
    width: 0px;
    background-color: white;
    position: relative;
    overflow: hidden;
    font-size: 18px;
    color: #355C7D;
    transition: all 500ms ease;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    flex-direction: row;
    flex-wrap: nowrap;
    text-rendering: optimizeSpeed;
  }
  #js-progress-bar::after {
    opacity: 0;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
  }
  #react-progress-bar {
    display: block;
    height: 100%;
    width: 0px;
    background-color: white;
    position: relative;
    overflow: hidden;
    font-size: 18px;
    text-align: center;
    color: #355C7D;
    transition: all 500ms ease;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
  }
  #dom-progress-bar {
    display: block;
    height: 100%;
    width: 0px;
    background-color: white;
    position: relative;
    overflow: hidden;
    font-size: 18px;
    text-align: center;
    color: #355C7D;
    transition: all 500ms ease;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
  }
  #next-progress-bar {
    display: block;
    height: 100%;
    width: 0px;
    background-color: white;
    position: relative;
    overflow: hidden;
    font-size: 18px;
    text-align: center;
    color: #355C7D;
    transition: all 500ms ease;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
  }
  #design-progress-bar {
    display: block;
    height: 100%;
    width: 0px;
    background-color: white;
    position: relative;
    overflow: hidden;
    font-size: 18px;
    text-align: center;
    color: #355C7D;
    transition: all 500ms ease;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
  }



.about_container {
    width: 100%;
    height: 109%;
    background-color: #F67280;
}
.about_page_one {
    height: 93%;
    width: 100%;
    background-color: #F67280;
    padding-top: 2rem;
    display: flex;
    flex-direction: column;

}
.about_arrow_container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
  }
  #about_down_arrow {
    font-size: 1rem;
    color: white;
    font-weight: 200;
    text-align: center;
    margin-bottom: 1rem;
    margin-top: 2rem;
    padding: 1rem;
    text-decoration: none;
    animation: rotate 2s linear infinite;
    margin-top: 4rem;
  }
  
  .arrow {
    text-align: center;
    margin: 8% 0;
    color: white;
    cursor: pointer;
  
  }
  .bounce {
    -moz-animation: bounce 2s infinite;
    -webkit-animation: bounce 2s infinite;
    animation: bounce 2s infinite;
  }
  @keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
      transform: translateY(0);
    }
    40% {
      transform: translateY(-30px);
    }
    60% {
      transform: translateY(-15px);
    }
  }
.about_one_title {
    font-size: 2rem;
    color: white;
    font-family: 'Raleway', sans-serif;
}
.about_one_text {
    max-width: 40rem;
    margin: auto;
    color: white;
}
.about_page_two {
    height: 93%;
    width: 100%;
    background-color: #C06C84;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-top: 2rem;
}
.about_two_title {
    font-size: 2rem;
    color: white;
    font-family: 'Raleway', sans-serif;
}
.about_two_text {
    max-width: 40rem;
    margin: auto;
    color: white;
}
.about_page_three {
    width: 100%;
    background-color: #6C5B7B;
    padding-top: 2rem;
    height: 93%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.about_three_title {
    font-size: 2rem;
    color: white;
    font-family: 'Raleway', sans-serif;
}
.about_three_text {
    max-width: 40rem;
    margin: auto;
    color: white;
}
.about_page_four {
    width: 100%;
    background-color: #355C7D;
    padding-top: 2rem;
    height: 93%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.about_four_title {
    font-size: 2rem;
    color: white;
    font-family: 'Raleway', sans-serif;
}
.about_four_text {
    max-width: 40rem;
    margin: auto;
    color: white;
    line-height: 2rem;
}
.about_page_five {
display: flex  ;
flex-direction: column;
height: 93%;
width: 100%;
background-color: #355C7D;
justify-content: space-evenly;
align-items: center;
padding-top: 2rem;
}
.about_five_container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    height: 100%;
    width: 100%;
    
}
.page_five_title {
    font-size: 2rem;
    color: white;
    font-family: 'Raleway', sans-serif;
}
.about_fiv_left {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    max-width: 30rem;
    height: 80%;
    color: white;
}
.about_five_right {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    max-width: 30rem;
    width: 40%;
    height: 80%;
    background-color: transparent;
    color: white;
}
.about_nav_container {
    background-color: black;
    z-index: 20;
}
.nav_btn_about {
    background-color: transparent;
    color: black;
    text-align: center;
    cursor: pointer;
    padding: 1rem;
    font-size: 20px;
    margin-top: 50%;
}
.nav_btn_about:hover {
    color: rgb(70, 104, 138);
}