.about_page_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    width: 100%;
    background-color: #F67280;
}
.about_btn_container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 3rem;
    width: 42rem;
    justify-content: space-between;
}
#young_age_btn {
    background-color: #C06C8C;
    color: white;
    border: none;
    text-align: center;
    cursor: pointer;
    padding: 1rem;
   border: 1px solid #C06C8C;
   font-size: 20px;
}
#middle_age_btn {
    background-color: #6C5B7B;
    color: white;
    border: none;
    text-align: center;
    cursor: pointer;
    padding: 1rem;
    border: 1px solid #6C5B7B;
    font-size: 20px;
}
#late_age_btn {
    background-color: #355C7D;
    color: white;
    border: none;
    text-align: center;
    cursor: pointer;
    padding: 1rem;
    border: 1px solid #355C7D;
    font-size: 20px;
}
#age {
    height: fit-content;
    width: 40rem;
    color: white;
    margin: 0%;
    padding: 1rem;
    line-height: 30px;
    font-size: 20px;
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
}