
.work_page_container {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 100vh;
    width: 100%;
    background-color: #C06C84;
}
.work_page_title {
    display: flex; 
    justify-content: center;
    width: 100%;
    height: 5rem;
    margin-top: -30px;
}
.work_top_content {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    height: fit-content;
    width: 100%;
}
.work_page_content_left {
background-color: #6C5B7B;
width: 20rem;
height: 15rem;
}
.work_page_content_right {
    background-color: #6C5B7B;
    width: 20rem;
    height: 15rem;
}
.work_bottom_content {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    height: fit-content;
    width: 100%;
}
.work_card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 20rem;
    width: 15rem;
    background-color: #6C5B7B;
}