a {
    text-decoration: none;
}
.work_page_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-content: space-evenly;
    height: 100vh;
    width: 100%;
    background-color: #C06C84;
}
.work_page_title {
    text-align: center;
    width: 100%;
    color: white;
    margin-top: 0rem;
    font-family: 'Raleway', sans-serif;
    font-size: 2rem;
}

.work_page_card {
background-color: #6C5B7B;
width: 50rem;
height: 13rem;
margin: auto;
border-radius: 5rem;
overflow: hidden;
cursor: pointer;
display: flex;
flex-direction: row;
}
.img_container {
    width: 40%;
    height: 100%;
    max-width: 25rem;
}
.card_img {
    object-fit: cover;
    max-width: 100%;
    max-height: 100%;
}
.card_content {
    width: 60%;
    padding-left: 0.4rem;
    padding-right: 0.4rem;
}
.card_title {
    text-decoration: none;
    color: white;
    font-family: 'Raleway', sans-serif;
}
.card_text {
    text-decoration: none;
    color: white;
}

  #work_down_arrow {
    font-size: 1rem;
    color: white;
    font-weight: 200;
    text-align: center;
    margin-bottom: 1rem;
    margin-top: 2rem;
    padding: 1rem;
    text-decoration: none;
    animation: rotate 2s linear infinite;
    margin-top: 4rem;
  }
  
  .arrow_work {
    text-align: center;
    margin: 4% 0;
    color: white;
    cursor: pointer;
  
  }
  .bounce {
    -moz-animation: bounce 2s infinite;
    -webkit-animation: bounce 2s infinite;
    animation: bounce 2s infinite;
  }
  @keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
      transform: translateY(0);
    }
    40% {
      transform: translateY(-30px);
    }
    60% {
      transform: translateY(-15px);
    }
  }